<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.surfaceview">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--set OpenGL ES version 3.1-->
    <uses-feature
        android:glEsVersion="0x00030001"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="demo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SurfaceActivity"
            android:label="surface 绘图" />
        <activity
            android:name=".ui.AudioActivity"
            android:label="音频" />
        <activity
            android:name=".ui.CameraActivity"
            android:label="camera" />
        <activity
            android:name=".ui.CustomCameraActivity"
            android:label="cmaera" />
        <activity
            android:name=".ui.Camera2Activity"
            android:label="camera 2" />
        <activity
            android:name=".ui.MediaPlayerActivity"
            android:label="Media 播放" />
        <activity
            android:name=".ui.MediaApplicationActivity"
            android:label="Media 应用" />
        <activity
            android:name=".ui.OpenGLES01Activity"
            android:label="OpenGL ES 绘制图形" />
        <activity
            android:name=".ui.OpenGLES02Activity"
            android:label="坐标变换" />
        <activity
            android:name=".ui.OpenGLMainActivity"
            android:label="OpenGL ES" />
    </application>

</manifest>